.proveedores-container {
  width: 100vw;
  height: 100vh;
  background: url('/fondo.png') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: Arial, sans-serif;
}

.decoracion {
  position: absolute;
  width: 100px;
  height: auto;
  bottom: 10px;
}

.izquierda {
  left: 10px;
}

.derecha {
  right: 10px;
}

.menu-lateral {
  position: absolute;
  top: 30px;
  left: 30px;
}

.btn-proveedores {
  padding: 10px 20px;
  background-color: #cce5ff;
  border: 2px solid #333;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
}

.contenido-proveedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.encabezado-proveedores {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.encabezado-proveedores h2 {
  font-size: 28px;
}

.iconos span {
  font-size: 24px;
  margin-left: 15px;
}

.tabla-proveedores table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 40px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.7);
}

.tabla-proveedores th, .tabla-proveedores td {
  border: 2px solid #000;
  padding: 15px;
  text-align: center;
}
